* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(92, 201, 235);
    font-family: "Calibri", "Roboto", sans-serif;
  }

  .title {
    background-color: rgb(67, 134, 221);
    font-size: 20pt;
    padding: 0.5%;
    text-align: center
  }

  #username_input {
    padding: 2%;
    text-align: center;
  }